<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AromaSys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="login-page-body"> <div class="login-container">
        
        <h1><a href="{{ url_for('home') }}" class="header-logo">AromaSys</a></h1>
        
        <p>Faça login ou crie sua conta.</p>
        
        <form action="{{ url_for('login') }}" method="POST"> <label for="email">Email</label>
            <input type="email" id="email" name="email">
            
            <label for="password">Senha</label>
            <input type="password" id="password" name="password">
            
            <button type="submit">Entrar</button>
        </form>
        
        <div class="divider">
            <span>ou</span>
        <div class="divider">
            <span>ou</span>
        </div>

            <a href="{{ url_for('login_google') }}" class="btn-google">
            <img src="https://pngimg.com/uploads/google/google_PNG19630.png" alt="Google" class="google-icon">
        Criar conta com o Google
        </a>
        
        <!-- (MUDANÇA AQUI) Novo link para cadastro -->
        <a href="{{ url_for('cadastrar') }}" class="link-voltar" style="font-weight: 700;">
            Não tem conta? Cadastre-se
        </a>
    </div>

</body>
</html>